<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="container top-slider">
      <ion-slides pager autoplay="5000" loop="true" speed="1000">
          <ion-slide *ngFor="let slide of slides">
            <img [src]="slide.image" class="slide-image"/>
          </ion-slide>
        </ion-slides>
  </div>

  <ion-list >
    <ion-item-sliding *ngFor="let slide of slides">
      <ion-item>
        <ion-avatar item-start>
          <img [src]="slide.image">
        </ion-avatar>
        <h2>{{slide.title}}</h2>
        <p>{{slide.description}}</p>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="primary">
          <ion-icon name="cart"></ion-icon>
          Añadir al carrito
        </button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
</ion-content>
